* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: roboto, sans-serif;
  background: var(--light-grey);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

:root {
  --dark-orange: coral;
  --light-grey: #faf8f8;
  --dark-grey: #ccc;
  --white-color: #fff;
  --soft-dark: #5e5e5e;
  --ligth-exodus: #5e5e5e;
  --soft-green: #8FBC8F;
}

.wrapper {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav a {
  color: var(--white-color);
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bolder;
}

nav ul li.active a {
  background-color: var(--soft-green);
}

nav a:hover {
  transition: all 1s ease-in;
  letter-spacing: 0.1rem;
}
header {
  background: var(--ligth-exodus);
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
}

footer {
  background: var(--dark-orange);
  display: flex;
  text-align: center;
  color: var(--white-color);
  font-size: 1.5rem;
}

h1, h2 {
    text-align: center;
}

.inRed {
  color: var(--dark-orange);
}

.inBlack {
    background-color: var(--soft-dark);
    color: var(--white-color);
}

div img {
    margin: 0 auto;
    display: block;
}

p.center {
    text-align: center;
    font-weight: bolder;
}

header {
  display: flex;
  padding: 20px;
  align-items: center;
  background-color: coral;
  height: 100px;
  width: 100%;
}

.cards {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  border-radius: 10px;
  width: 200px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card-img {
  border-radius: 10px 10px 0 0;
  background-size: cover;
  background-position: center;
  background-image: url("http://placekitten.com/200/300");
  height: 200px;
  width: 100%;
}
.card-body {
  padding: 10px 20px;
}
.card-body h2 {
  margin: 10px 0px;
}
.card-button {
  border: none;
  border-radius: 10px;
  height: 50px;
  background-color: lightblue;
  width: 100%;
}